body {
  margin: 0;
  font-family: sans-serif;
  color: white;
  text-align: center;
}

.cover {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: brightness(0.7);
}

button {
  padding: 12px 25px;
  background: gold;
  border: none;
  border-radius: 20px;
}
.couple {
  width: 200px;
  border-radius: 20px;
  margin: 20px 0;
}

.event {
  background: rgba(255,255,255,0.1);
  padding: 15px;
  border-radius: 10px;
}

.wa {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #25D366;
  border-radius: 20px;
  color: white;
}
/* TAMBAHKAN DI PALING BAWAH */

.section {
  padding: 40px 20px;
  background: #0f172a;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.section h2 {
  margin-bottom: 15px;
}

#content {
  display: none;
}

footer {
  padding: 20px;
  background: black;
  font-size: 12px;
}
